{
  "presets": ["babel-preset-react-app"],
  "plugins": [
    [
      "react-intl-auto",
      {
        "removePrefix": "src/",
        "filebase": true,
        "useKey": true,
        "includeExportName": true
      }
    ]
  ]
}
